@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    var classeMenuPrincipal = controllerAtual == "Home" ? "active" : "";
    var classeMenuProdutos = controllerAtual == "Produto" ? "active" : "";
    var classeMenuCategorias = controllerAtual == "Categoria" ? "active" : "";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>EstoqueWeb :: @ViewBag.Subtitulo</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">EstoqueWeb</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link @classeMenuPrincipal" asp-controller="Home" asp-action="Index">Principal</a>
                    <a class="nav-link @classeMenuProdutos" asp-controller="Produto" asp-action="Index">Produtos</a>
                    <a class="nav-link @classeMenuCategorias" asp-controller="Categoria"
                        asp-action="Index">Categorias</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-2">
        @RenderBody()
    </div>

    <div class="text-light bg-dark p-3 fixed-bottom text-center">
        EstoqueWeb&copy; @DateTime.Now.Year.ToString()<br>
        Todos os direitos reservados
    </div>

    <script src="/lib/bootstrap5/dist/js/bootstrap.js"></script>

</body>

</html>